<!-- <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" [routerLink]="['']"> <h1 class="text-primary fw-bold mb-0">
            Clean<span class="text-dark">Blog</span>
          </h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" [routerLink]="['']">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html">Sample Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">Contact</a></li>
                <li *ngIf="authService.CurrentUserSig() === null" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" [routerLink]="['login']" style="cursor: pointer;">Login</a></li>
                <li *ngIf="authService.CurrentUserSig()" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" (click)="logout()" style="cursor: pointer;">Logout</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4">{{authService.CurrentUserSig()?.username}}</a></li>

            </ul>
        </div>
    </div>
</nav> -->



<header class="top-nav" [ngClass]="{'scrolled' : isScrolled }" >
    <a href="" class="logo"  #logo>  <i class="fab fa-twitter" aria-hidden="true" style="color: white;"></i></a>
 
 <input type="checkbox" id="menu-bar">
 <!-- <label for="menu-bar"> Menu -->
 
 <label class="plate plate3" for="menu-bar"   onclick="this.classList.toggle('active')">
     <svg class="burger" fill="#fff" version="1.1" height="100" width="100" viewBox="0 0 100 100">
       <path class="line line1" d="M 50,35 H 30 C 6.9919512,35 5.5084746,123.72881 5.5084746,123.72881"></path>
       <path class="line line2" d="M 50,35 H 70 C 98.006349,35 92.796611,119.91525 92.796611,119.91525"></path>
       <path class="line line3" d="M 50,50 H 30 C 8.2796577,50 5.9322035,138.1356 5.9322035,138.1356"></path>
       <path class="line line4" d="M 50,50 H 70 C 91.152643,50 91.949152,133.21754 91.949152,133.21754"></path>
       <path class="line line5" d="M 50,65 C 50,65 47.570314,65 30,65 C 4.9857853,65 9.3220337,147.88136 9.3220337,147.88136"></path>
       <path class="line line6" d="M 50,65 H 70 C 91.937316,65 88.559322,144.91525 88.559322,144.91525"></path>
     </svg>
     <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
       <path class="line" d="M 34,32 L 66,68"></path>
       <path class="line" d="M 66,32 L 34,68"></path>
     </svg>
   </label>
 <!-- </label> -->
 <nav class="navbar" id="menu">
 

     <ul #menu>
         <li><a href="">Home</a></li>
         <li ><a [routerLink]="['/about']">About</a></li>
         <li ><a [routerLink]="['/deliverd']"> Oru blog</a></li>
         <li ><a [routerLink]="['/contact']">Contact Us</a></li>
         <li ><a [routerLink]="['/profile']">Profile</a></li>

 
         <button class="btn " >
   <li *ngIf="authService.CurrentUserSig() === null"  style="margin-top: -5px; display: flex; align-items: center; justify-content: center;" >
    
    <a style="color: #ffffff !important;"  [routerLink]="['login']" >Login</a>
    
   </li>
   <li *ngIf="authService.CurrentUserSig()" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" (click)="logout()" style="cursor: pointer;">Logout</a></li>

</button>

   

 </ul>
 </nav>
 
 </header>
