<app-navbar></app-navbar>
<!-- <div class="container " style="margin-top: 20px;">
    <h3>{{singleData.title}}</h3>
</div> -->

<section>
    <img src="../../../assets/img/home-bg.jpg" class="img-fluid main-img"  alt="">

    <div class="container">
        
        <div class="row main-row">
            <div class="col-lg-8 col-md-12 main-col">
                <div class="card">
                    <img src="../../../assets/img/about-bg.jpg" class="img-fluid" alt="">
    
                </div>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, atque?</h4>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat consequuntur nam rerum accusantium unde excepturi rem expedita fuga, laudantium totam repellendus minus dolorem est, praesentium maiores sunt dicta blanditiis enim ducimus. Quasi, quaerat sequi? Laboriosam tempora et temporibus est quidem, pariatur aut atque fugiat quae repellat in expedita delectus omnis?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat consequuntur nam rerum accusantium unde excepturi rem expedita fuga, laudantium totam repellendus minus dolorem est, praesentium maiores sunt dicta blanditiis enim ducimus. Quasi, quaerat sequi? Laboriosam tempora et temporibus est quidem, pariatur aut atque fugiat quae repellat in expedita delectus omnis?
                </p>
            </div>
           
        </div>
        
        </div>
</section>


<app-footer></app-footer>
