<div class="container">
    <div class="row main-row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, commodi.</p>
            <form action="">
                <div class="form-div">
                    <input type="text" placeholder="Enter Email" class="form-control">
                    <button class="btn Subscribe-btn">Subscribe</button>
                </div>
             
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="../../../assets/img/pngwing 1.png" alt="" width="800px" class="img-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, commodi.</p>
        </div>
    </div>
</div>
