
<div class="allBlogs">
  <app-all-blogs></app-all-blogs>
</div>

<div class="container">


    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post previews -->
        <div *ngFor="let blog of blogPosts" class="post-preview">
          <a href="post.html">
            <h2 class="post-title">{{ blog.title }}</h2>
            <h3  class="post-subtitle">{{ blog.content }}</h3>
          </a>
          <p class="post-meta">
            Posted by : {{blog.author}}
            <!-- <a href="#!">{{ post.author }}</a> -->
            <!-- on {{ post.date }} -->
          </p>
          <div class="row">
            <div class="col">
                <button class="btn btn-danger text-uppercase" (click)="deleteBlog(blog.id)" >Delete</button>&nbsp;
                <button class="btn btn-primary text-uppercase" (click)="editBlog(blog)">Edit</button>
            </div>
          </div>
        </div>
        <!-- Divider -->
        <hr class="my-4" />
        <!-- Pager -->
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-success text-uppercase" (click)="createBlog()">Create Blog →</a>
        </div>
      </div>
    </div>
    <div class="about-us-container">
  <div class="row row1">
    <div class="col-md-6">
      <div class="card">
      <h2>About Us</h2>
      <p>
        Welcome to our blog! We are a passionate team of writers and enthusiasts who love to share our thoughts and experiences with you.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum quam vitae tincidunt vulputate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti, delectus quo laudantium animi cupiditate placeat excepturi explicabo pariatur eos, dolore rerum soluta ut tempore dolores id ad architecto. Eum vero cum, reprehenderit asperiores vel et incidunt, eveniet voluptates repudiandae provident soluta iste dolor error sed, iure repellat voluptas.
      </p>
      <button class="btn btn1 btn-lg text-dark open">Read More</button>
    </div>
  </div>
    <div class="col-md-6">
      <div class="animated-image">
        <!-- Include your animated image or video here -->
        <!-- Example: -->
        <img src="../../../assets/img/blog.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
  </div>
  