<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post previews -->
        <div *ngFor="let blog of blogPosts" class="post-preview">
          <a href="post.html">
            <h2 class="post-title">{{ blog.title }}</h2>
            <h3  class="post-subtitle">{{ blog.content }}</h3>
          </a>
          <p class="post-meta">
            Posted by
            <!-- <a href="#!">{{ post.author }}</a> -->
            <!-- on {{ post.date }} -->
          </p>
          <div class="row">
            <div class="col">
                <button class="btn btn-danger text-uppercase" (click)="deleteBlog(blog.id)" >Delete</button>&nbsp;
                <button class="btn btn-primary text-uppercase" (click)="editBlog(blog)">Edit</button>
            </div>
          </div>
        </div>
        <!-- Divider -->
        <hr class="my-4" />
        <!-- Pager -->
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary text-uppercase" (click)="createBlog()">Create Blog →</a>
        </div>
      </div>
    </div>
  </div>
  